@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --light-blue: rgb(179, 208, 234);
    --dark-blue: hsl(218, 44%, 22%);
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--light-blue);
}

.component{
    background-color: #fff;
    border-radius: 20px;
    width: 380px;
    height: 550px;
}



.attribution-image {
    display: flex;
    justify-content: center;
    width: 380px;
}

.attribution-image img{
    box-sizing: border-box;
    margin-top: 17px;
    width: 340px;
    border-radius: 15px;
}

.attribution-title h4{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: var(--dark-blue);
    padding: 10px 20px 0px 20px;
}

.attribution-title p{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 15px 30px;
    color: #979595;
}